/* contact page */
.contact-information {
    padding: 100px 0;
}

.contact-row {
    width: 100%;
    display: grid;
    /* gap: 0px 30px; */
    grid-template-columns: repeat(2, 1fr);
}

.contact-row .contact-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.contact-row .contact-col img {
    width: 100%;
}

.contact-row .contact-col h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.contact-row .contact-col p {
    color: var(--text-color);
}

.contact-row .contact-col a.get-direction {
    color: var(--dark-brown);
    transition: 0.6s ease-in-out;
}

.contact-row .contact-col a.get-direction:hover {
    color: var(--accent-color);
}

.contact-row .contact-col p.contact-mobile {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.contact-row .contact-col p.contact-mobile i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.contact-row .contact-col p.contact-mobile i svg {
    fill: var(--tertiary-color);
}

.contact-row .contact-col p.contact-mobile span {
    color: var(--text-color);
}

.contact-row .contact-col p.contact-mobile a {
    color: var(--primary-color);
    transition: 0.5s ease-in-out;
}

.contact-row .contact-col p.contact-mobile a:hover {
    color: var(--accent-color);
}

.contact-row .contact-col .socials-container {
    margin: 0;
}

.contact-info form {
    width: 100%;
}

.contact-form-row {
    display: grid;
    gap: 30px 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.contact-form-row input,
.contact-form-row textarea {
    height: 50px;
    padding: 10px;
    background-color: var(--light-bg);
    font-family: var(--font-family);
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--tertiary-color);
    font-size: 17px;
    outline: none;
}

.contact-form-row input:focus,
.contact-form-row textarea:focus {
    border-color: var(--primary-color);
}

.contact-form-row input[type="email"],
.contact-form-row textarea {
    grid-column: span 2 / span 2;
}

.contact-form-row textarea {
    height: 120px;
}

.contact-info form button {
    position: relative;
    border: none;
    margin: auto;
    cursor: pointer;
}

@media (max-width: 900px) {
    .contact-row {
        gap: 30px 0;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .contact-row {
        grid-template-columns: 1fr;
    }

    .contact-row .contact-info {
        padding: 30px;
    }

    .contact-row .contact-col img {
        /* width: 90%; */
        display: block;
        margin: auto;
    }

    .contact-form-row {
        gap: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .contact-row .contact-info {
        padding: 0px;
    }

    .contact-form-row input,
    .contact-form-row textarea {
        grid-column: span 2 / span 2;
    }
}