@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;500;700&display=swap');

:root {
    /* colors */
    --text-color: #6f706e;
    --light-bg: #f9f7f5;
    --light-brown: #efe7da;
    --dark-gray: #E4E4E4;
    --dark-brown: #b3907a;
    --light-grey: #f8f7f5;
    --border-color: #ededed;
    --secondary-color: #ffffff;
    --primary-color: #000000;
    --tertiary-color: #333;
    --accent-color: #C8102E;
    --line: #EDEDED;
    --star: #E69600;
    --hot: #ff8800;
    --discount-bg: #a7f3a0;
    --discount-color: #166534;
    --color-danger: rgb(244, 23, 23);

    /* fonts */
    --font-family: "Afacad", sans-serif;

    /* shadow */
    --shadow-primary: 5px 5px 5px #0000001a;
    --shadow-secondary: 0 0 5px #00000026;
}

/* base styles */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: var(--font-family) !important;
    font-size: 16px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
}

h2 {
    font-size: clamp(28px, 3.2vw, 40px);
    line-height: clamp(32px, 3.2vw, 40px);
}

a {
    text-decoration: none;
}

.container {
    padding: 0 10px;
    max-width: 1200px;
    margin: auto;
}

a.fancy-link {
    display: inline-block;

    color: var(--secondary-color);
    text-decoration: underline 1px solid;
}

a.fancy-link span {
    display: inline-block;
    color: var(--secondary-color);
    transition: color 200ms ease;
    will-change: color;
}

li {
    list-style: none;
}

.primary-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    font-family: var(--font-family);
    text-transform: uppercase !important;
    font-size: 16px;
    overflow: hidden;
    border: none;
    position: relative;
    cursor: pointer;
}

.primary-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    transition: left 0.6s ease;
}

.primary-btn:hover::before {
    left: 100%;
}

.shop-btn:hover {
    background: var(--text-color);
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
    text-transform: capitalize;
}

.section-title h2 {
    font-size: clamp(28px, 3.2vw, 40px);
    font-weight: 500;
    color: var(--primary-color);
    margin: 0;
}

#goTop {
    position: fixed;
    padding: 0;
    bottom: 90px;
    right: 20px;
    width: 38px;
    height: 38px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1019607843);
    z-index: 1000;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}


#goTop .border-progress {
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border-radius: 50%;
    border: 1px solid #000;
    mask-image: conic-gradient(#000 var(--progress-angle, 0deg), transparent 0);
    -webkit-mask-image: conic-gradient(#000 var(--progress-angle, 0deg), transparent 0);
    content: "";
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#goTop.show {
    opacity: 1;
    visibility: visible;
}

#goTop .icon {
    font-size: 20px;
    color: var(--primary-color);
    animation: iconBounce 2s linear 0s infinite;
}


@keyframes iconBounce {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(-5px);
    }

    20% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-5px);
    }

    40% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

#goTop:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
    #goTop {
        right: 40px;
    }
}

@media (max-width: 1199px) {
    #goTop.pos1 {
        bottom: 200px;
    }
}

@media (max-width: 767px) {
    #goTop.pos1 {
        bottom: 230px;
    }
}

.badge {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.badge-flash {
    background: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    svg {
        color: var(--color-danger);
        animation: flashAnimate .3s ease-in-out infinite;
    }
}

@keyframes flashAnimate {
    0% {
        transform: scale(1.1) rotate(10deg);
    }

    50% {
        transform: scale(1.1) rotate(-10deg);
    }

    100% {
        transform: scale(1) rotate(0);
    }
}

.badge-hot {
    background: var(--hot);
    color: var(--secondary-color);
}

.badge-trending {
    background: #685BC7;
    color: var(--secondary-color);
}

.badge-sale {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.badge-new {
    background: var(--discount-color);
    color: var(--secondary-color);
}

@media (max-width: 600px) {
    .badge {
        font-size: 10px;
    }

    .badge-flash {
        gap: 2px;

        svg {
           width: 14px;
           height: 14px;
        }
    }
}

/* Sale Banner Carousel */
.sale-banner {
    position: absolute;
    /* width: 100%; */
    bottom: 16px;
    left: 16px;
    right: 16px;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    overflow: hidden;
    height: 32px;
    border-radius: 4px;
    white-space: nowrap;
}

.sale-banner-text {
    display: inline-block;
    animation: scrollText 10s linear infinite;
    padding-left: 100%;
}

@keyframes scrollText {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*
    =====================================
    =====================================
    ===================OTHER PAGES STYLES
    =====================================
    =====================================
*/
/* banner */
.banner {
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/hero/banner.png");
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.banner .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--secondary-color);
}

.banner .container h1 {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.banner .container p {
    font-size: 1.2rem;
    text-transform: capitalize;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.banner .container p a {
    color: var(--light-gray);
    transition: 0.6s ease-in-out;
}

.banner .container p a:hover {
    color: var(--accent-color);
}